### Open the dataset and write it into a .txt format to be passed in remove_words

In [19]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\quora_duplicate_questions.tsv', sep='\t', index_col =0)

In [14]:
df.head()

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [22]:
question1 = df['question1']
question1.head(17)

id
0     What is the step by step guide to invest in sh...
1     What is the story of Kohinoor (Koh-i-Noor) Dia...
2     How can I increase the speed of my internet co...
3     Why am I mentally very lonely? How can I solve...
4     Which one dissolve in water quikly sugar, salt...
5     Astrology: I am a Capricorn Sun Cap moon and c...
6                                   Should I buy tiago?
7                        How can I be a good geologist?
8                       When do you use シ instead of し?
9     Motorola (company): Can I hack my Charter Moto...
10    Method to find separation of slits using fresn...
11          How do I read and find my YouTube comments?
12                 What can make Physics easy to learn?
13          What was your first sexual experience like?
14    What are the laws to change your status from a...
15    What would a Trump presidency mean for current...
16                         What does manipulation mean?
Name: question1, dtype: object

In [24]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1.txt', question1.values, fmt='%s', encoding = 'utf-8')

In [25]:
question2 = df['question2']
question2.head(17)

id
0     What is the step by step guide to invest in sh...
1     What would happen if the Indian government sto...
2     How can Internet speed be increased by hacking...
3     Find the remainder when [math]23^{24}[/math] i...
4               Which fish would survive in salt water?
5     I'm a triple Capricorn (Sun, Moon and ascendan...
6     What keeps childern active and far from phone ...
7             What should I do to be a great geologist?
8                 When do you use "&" instead of "and"?
9     How do I hack Motorola DCX3400 for free internet?
10    What are some of the things technicians can te...
11               How can I see all my Youtube comments?
12              How can you make physics easy to learn?
13               What was your first sexual experience?
14    What are the laws to change your status from a...
15    How will a Trump presidency affect the student...
16                        What does manipulation means?
Name: question2, dtype: object

In [26]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2.txt', question2.values, fmt='%s', encoding = 'utf-8')

### Open pre-processed dataset and split it into train-test according to https://arxiv.org/pdf/1702.03814.pdf

In [40]:
question1_clean = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1.clean.txt', sep="\n", header=None)
question2_clean = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2.clean.txt', sep="\n", header=None)

In [38]:
question1_clean.head()

                                                   0
0       step step guide invest share market india \?
1           story kohinoor \( koh noor \) diamond \?
2    increase speed internet connection using vpn \?
3                        mentally lonely \? solve \?
4  one dissolve water sugar , salt , methane carb...

In [41]:
question2_clean.head()

                                                   0
0             step step guide invest share market \?
1  would happen indian government stole kohinoor ...
2            internet speed increased hacking dns \?
3  find remainder math 23 24 math divided 24 , 23 \?
4                   fish would survive salt water \?

In [55]:
train = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\train.tsv', sep='\t', header=None)
train.columns = ['label','question1','question2','index']

In [74]:
def open_in_pd(path, file_name):
    df =  pd.read_csv(path+file_name+'.tsv', sep='\t', header=None)
    df.columns = ['label','question1','question2','index']
    return df

In [115]:
train = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'train')
test = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'test')
dev = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'dev')

In [116]:
len(train)

384348

In [117]:
len(dev)

10000

In [118]:
len(test)

10000

In [119]:
train = pd.concat([train, dev])

In [120]:
train_ind = train[['label','index']]
train_ind['train_test'] = 'train'
train_ind.head()

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   label   index train_test
0      1   11877      train
1      0  221489      train
2      1   92126      train
3      0  289278      train
4      1  328558      train

In [121]:
test_ind = test[['label', 'index']]
test_ind['train_test'] = 'test'
test_ind.head()

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   label   index train_test
0      1   50018       test
1      0  126924       test
2      1  391187       test
3      0  301889       test
4      1  202497       test

In [133]:
quora_train_test_split = pd.concat([train_ind,test_ind])
quora_train_test_split_sorted = quora_train_test_split.sort_values(['index'])
quora_train_test_split_sorted = quora_train_test_split_sorted[['index','train_test','label']]

In [134]:
quora_train_test_split_sorted.tail()

         index train_test  label
12343   404346      train      0
151400  404347      train      1
352700  404348      train      0
32895   404349      train      0
53061   404350      train      0

In [136]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\quora_split.txt', quora_train_test_split_sorted.values, fmt='%s')