### 1. Open the dataset into dataframe
### 2. Remove the entries that are empty after preprocessing
### 3. Remove the entries that are not in the intesection of train test split and dataset we have and save train test split according to https://arxiv.org/pdf/1702.03814.pdf
### 4. Divide again into question1 and question2 according to the existing entries and rerun cleaning

1. Open the dataset

In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
df = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\quora_duplicate_questions.tsv', sep='\t', index_col =0, header=0)

In [3]:
df

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...
404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,537928,537929,What is one coin?,What's this coin?,0
404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

2. Remove the indices which end up empty after the preprocessing already here

In [4]:
q1_empty_ind = [3306, 39405, 108978, 109311, 115347, 151922, 158778, 189396, 190570, 199110, 290090, 301583, 325530, 326297, 328601, 329933, 381124]
q2_empty_ind = [20072, 144343, 181695, 198913, 384293, 400153]
remove_ind = q1_empty_ind +q2_empty_ind
len(remove_ind)

23

In [5]:
df = df.drop(remove_ind, axis =0)

In [6]:
df

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...
404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,537928,537929,What is one coin?,What's this coin?,0
404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

3. Remove entries that are not common in train test split and df and store train_test split file

In [7]:
def open_in_pd(path, file_name):
    df =  pd.read_csv(path+file_name+'.tsv', sep='\t', header=None)
    df.columns = ['label','question1','question2','index']
    return df

In [8]:
train = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'train')
test = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'test')
dev = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'dev')

In [9]:
len(train)

384348

In [10]:
len(dev)

10000

In [11]:
len(test)

10000

In [12]:
train = pd.concat([train, dev])
train

,label,question1,question2,index
0,1,What is your review of Hidden Figures -LRB- 20...,What are your impressions of Hidden Figures -L...,11877
1,0,"Currently , all Supreme Court Justices come fr...",What 's your type of jungle -LRB- concrete or ...,221489
2,1,Why is saltwater taffy candy imported in Austr...,Why is salt water taffy candy unknown in Japan ?,92126
3,0,"Who has the better stable of characters , DC o...",Which is better - DC or Marvel ?,289278
4,1,What is difference between CAT and GMAT in ter...,What is the difference between the CAT and GMA...,328558
...,...,...,...,...
9995,0,Which were some major programming breakthrough...,Prove it using integration - e ^ b > 1 + b + b...,236907
9996,1,Would an audio recording of someone admitting ...,Does admission of consent recorded on video st...,194068
9997,0,What are some of the questions on Quora that m...,What are the most annoying types of questions ...,56788
9998,1,What are some popular method to do suicide ?,What is the easiest pain free method of commit...,12443
9999,0,"Prove that among any K consecutive integers , ...",Are most Americsns so brainwashed to not see t...,5224

In [13]:
train_ind = train['index'].tolist()
len(train_ind)

394348

In [14]:
test_ind = test['index'].tolist()
len(test_ind)

10000

In [15]:
test_train_ind = train_ind+test_ind
len(test_train_ind)

404348

In [16]:
df_match = df[df.index.isin(test_train_ind)]
df_match

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...
404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,537928,537929,What is one coin?,What's this coin?,0
404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [17]:
df_train = df[df.index.isin(train_ind)]
df_train_ind = df_train[['is_duplicate']]
df_train_ind['train_test'] = 'train'
df_train_ind.columns = ['label', 'train_test']
df_train_ind['index'] = df_train_ind.index
df_train_ind = df_train_ind[['index','label', 'train_test']]
df_train_ind

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

         index  label train_test
id
0            0      0      train
1            1      0      train
2            2      0      train
3            3      0      train
4            4      0      train
...        ...    ...        ...
404284  404284      1      train
404285  404285      0      train
404287  404287      0      train
404288  404288      0      train
404289  404289      0      train

[394265 rows x 3 columns]

In [18]:
df_train_ind[df_train_ind['train_test']=='train']['label'].value_counts()

0    248787
1    145478
Name: label, dtype: int64

In [19]:
#np.random.seed(11)
#remove_n = 248787-145478
#drop_indices = np.random.choice(df_train_ind[df_train_ind['label']==0].index, remove_n, replace=False)
#df_train_ind_balanced = df_train_ind.drop(drop_indices)
#df_train_ind_balanced['label'].value_counts()

In [20]:
df_test = df[df.index.isin(test_ind)]
df_test_ind = df_test[['is_duplicate']]
df_test_ind['train_test'] = 'test'
df_test_ind.columns = ['label', 'train_test']
df_test_ind['index'] = df_test_ind.index
df_test_ind = df_test_ind[['index','label', 'train_test']]
df_test_ind

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

         index  label train_test
id
52          52      0       test
57          57      0       test
113        113      1       test
130        130      0       test
173        173      1       test
...        ...    ...        ...
404156  404156      0       test
404200  404200      1       test
404251  404251      0       test
404277  404277      0       test
404286  404286      1       test

[9999 rows x 3 columns]

In [21]:
quora_train_test_split = pd.concat([df_train_ind,df_test_ind])
quora_train_test_split
quora_train_test_split_sorted = quora_train_test_split.sort_values(['index'])
quora_train_test_split_sorted

         index  label train_test
id
0            0      0      train
1            1      0      train
2            2      0      train
3            3      0      train
4            4      0      train
...        ...    ...        ...
404285  404285      0      train
404286  404286      1       test
404287  404287      0      train
404288  404288      0      train
404289  404289      0      train

[404264 rows x 3 columns]

In [22]:
quora_train_test_split_sorted['train_test'].value_counts()

train    394265
test       9999
Name: train_test, dtype: int64

In [23]:
quora_train_test_split_sorted[quora_train_test_split_sorted['train_test']=='train']['label'].value_counts()

0    248787
1    145478
Name: label, dtype: int64

In [24]:
np.random.seed(11)
remove_n = 330000
drop_indices1 = np.random.choice(quora_train_test_split_sorted[quora_train_test_split_sorted['train_test']=='train'].index, remove_n, replace=False)
quora_train_test_split_subset = quora_train_test_split_sorted.drop(drop_indices1)

In [25]:
quora_train_test_split_subset[quora_train_test_split_subset['train_test']=='train']['label'].value_counts()

0    40473
1    23792
Name: label, dtype: int64

In [26]:
train_0_indices = quora_train_test_split_subset[(quora_train_test_split_subset['train_test']=='train')&(quora_train_test_split_subset['label']==0)].index
train_1_indices = quora_train_test_split_subset[(quora_train_test_split_subset['train_test']=='train')&(quora_train_test_split_subset['label']==1)].index
difference = len(train_0_indices) - len(train_1_indices)

In [27]:
difference

16681

In [28]:
np.random.seed(11)
remove_n = difference
drop_indices2 = np.random.choice(quora_train_test_split_subset[(quora_train_test_split_subset['train_test']=='train') & (quora_train_test_split_subset['label']== 0)].index, remove_n, replace=False)
quora_train_test_split_balanced_subset = quora_train_test_split_subset.drop(drop_indices2)

In [29]:
quora_train_test_split_balanced_subset[quora_train_test_split_balanced_subset['train_test']=='train']['label'].value_counts()

1    23792
0    23792
Name: label, dtype: int64

In [30]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\quora_split_subset.txt', quora_train_test_split_subset.values, fmt='%s', delimiter='\t')

4. Extract the question1 and question2 from the updated df and rerun the remove_words

In [31]:
question1 = df_match['question1']
question1 = question1.str.replace('\\n', ' ', regex= True)

In [33]:
question1_subset = question1.drop(drop_indices1)
question1_subset_balanced = question1_subset.drop(drop_indices2)

In [34]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1_subset_balanced.txt', question1_subset.values, fmt='%s', encoding = 'utf-8', delimiter ='\n')

In [35]:
question2 = df_match['question2']
question2 = question2.str.replace('\\n', ' ', regex= True)

In [42]:
question2_subset = question2.drop(drop_indices1)
question2_subset_balanced = question2_subset.drop(drop_indices2)

In [43]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2_subset_balanced.txt', question2_subset.values, fmt = '%s', encoding = 'utf-8', delimiter ='\n')

### Open pre-processed dataset

In [138]:
question1_clean = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1_subset_balanced.clean.txt', sep="\n", names=['Clean'])
question2_clean = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2_subset_balanced.clean.txt', sep="\n", names=['Clean'])

In [139]:
question1_clean

                                                   Clean
0           step step guide invest share market india \?
1               story kohinoor \( koh noor \) diamond \?
2      astrology capricorn sun cap moon cap rising sa...
3      would trump presidency mean current internatio...
4      many quora users posting questions readily ans...
...                                                  ...
74259  burning fossil fuels contribute global warming \?
74260  best new car products inventions people n't kn...
74261                                       analytics \?
74262                              believe life death \?
74263                                        one coin \?

[74264 rows x 1 columns]

We are getting one NaN cell in Question 2 at the index 19327 which we remove from both questions

In [140]:
null_ind1 = question1_clean.isnull()

In [141]:
null_ind1[null_ind1['Clean']==True]

Empty DataFrame
Columns: [Clean]
Index: []

In [143]:
null_ind2 = question2_clean.isnull()

In [144]:
null_val = null_ind[null_ind2['Clean']==True]

In [145]:
question1_clean_subset = question1_clean.drop(null_val.index)

In [147]:
question2_clean_subset =question2_clean.drop(null_val.index)

In [171]:
question1_clean_subset['tokenized_sents'] = question1_clean_subset.apply(lambda row: len(re.findall(r'\w+', row['Clean'])), axis=1)
question2_clean_subset['tokenized_sents'] = question2_clean_subset.apply(lambda row: len(re.findall(r'\w+', row['Clean'])), axis=1)

In [170]:
question1_clean_subset

                                                   Clean  tokenized_sents
0           step step guide invest share market india \?                7
1               story kohinoor \( koh noor \) diamond \?                5
2      astrology capricorn sun cap moon cap rising sa...                8
3      would trump presidency mean current internatio...               10
4      many quora users posting questions readily ans...                8
...                                                  ...              ...
74259  burning fossil fuels contribute global warming \?                6
74260  best new car products inventions people n't kn...                9
74261                                       analytics \?                1
74262                              believe life death \?                3
74263                                        one coin \?                2

[74263 rows x 2 columns]

In [172]:
question2_clean_subset

                                                   Clean  tokenized_sents
0                 step step guide invest share market \?                6
1      would happen indian government stole kohinoor ...               10
2      i'm triple capricorn \( sun , moon ascendant c...                9
3      trump presidency affect students presently us ...                9
4      people ask quora questions answered easily goo...                7
...                                                  ...              ...
74259      co2 contribute global warming water vapour \?                6
74260  mind blowing vehicles tools exist people n't k...                9
74261                          analytical people like \?                3
74262                                 true life death \?                3
74263                                         's coin \?                2

[74263 rows x 2 columns]

In [185]:
short_q1 = question1_clean_subset.loc[question1_clean_subset['tokenized_sents']<4]
short_q2 = question1_clean_subset.loc[question2_clean_subset['tokenized_sents']<4]
short_sents = short_q1.index.tolist() +short_q2.index.tolist()
len(short_sents)

36673

In [186]:
question1_clean_long = question1_clean_subset.drop(short_sents)
question2_clean_long = question2_clean_subset.drop(short_sents)

In [188]:
len(question1_clean_long)
len(question2_clean_long)

48755

Now have identified indices short_sents and indices null_val which need to be removed from the dataset and the label list & reassess the balance of the dataset