1. Open the dataset

In [42]:
import pandas as pd
import re
import numpy as np

In [43]:
df = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\quora_duplicate_questions.tsv', sep='\t', index_col =0, header=0)

In [44]:
df

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...
404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,537928,537929,What is one coin?,What's this coin?,0
404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

2. Remove the indices which end up empty after the preprocessing already here

In [45]:
q1_empty_ind = [3306, 39405, 108978, 109311, 115347, 151922, 158778, 189396, 190570, 199110, 290090, 301583, 325530, 326297, 328601, 329933, 381124]
q2_empty_ind = [20072, 144343, 181695, 198913, 384293, 400153]
remove_ind = q1_empty_ind +q2_empty_ind
len(remove_ind)

23

In [46]:
df = df.drop(remove_ind, axis =0)

In [47]:
df

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...
404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,537928,537929,What is one coin?,What's this coin?,0
404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [48]:
question1 = df['question1']
question1 = question1.str.replace('\\n', ' ', regex= True)

In [49]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1.txt', question1.values, fmt='%s', encoding = 'utf-8', delimiter ='\n')

In [50]:
question2 = df['question2']
question2 = question2.str.replace('\\n', ' ', regex= True)

In [51]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2.txt', question2.values, fmt = '%s', encoding = 'utf-8', delimiter ='\n')

Extracted and saved question 1 and question 2 of the dataframe. Will now replace in the dataframe the original with the cleaned one

In [52]:
question1_clean = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1.clean.txt', sep="\n", names=['Clean'])
question2_clean = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2.clean.txt', sep="\n", names=['Clean'])

We are getting some NaN cells which we remove from both questions

In [53]:
df['question1_clean'] = question1_clean.values
df['question2_clean'] = question2_clean.values

In [54]:
null_ind = df.isnull()

In [55]:
null_val1 = null_ind[null_ind['question1_clean']==True]

In [56]:
null_val2 = null_ind[null_ind['question2_clean']==True]

In [57]:
null_val = pd.concat([null_val1, null_val2])

In [58]:
null_val

,qid1,qid2,question1,question2,is_duplicate,question1_clean,question2_clean
id,,,,,,,
363362,False,False,True,False,False,True,False
105780,False,False,False,True,False,False,True
141281,False,False,False,False,False,False,True
201841,False,False,False,True,False,False,True
205947,False,False,False,False,False,False,True

In [59]:
df = df.drop(null_val.index)

In [60]:
df['tokenized_sents1'] = df.apply(lambda row: len(re.findall(r'\w+', row['question1_clean'])), axis=1)
df['tokenized_sents2'] = df.apply(lambda row: len(re.findall(r'\w+', row['question2_clean'])), axis=1)

In [61]:
df = df.drop(columns = ['qid1', 'qid2'])

In [62]:
df

,question1,question2,is_duplicate,question1_clean,question2_clean,tokenized_sents1,tokenized_sents2
id,,,,,,,
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,step step guide invest share market india \?,step step guide invest share market \?,7,6
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,story kohinoor \( koh noor \) diamond \?,would happen indian government stole kohinoor ...,5,10
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,increase speed internet connection using vpn \?,internet speed increased hacking dns \?,6,5
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,mentally lonely \? solve \?,"find remainder math 23 24 math divided 24 , 23 \?",3,9
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,"one dissolve water quikly sugar , salt , metha...",fish would survive salt water \?,10,5
...,...,...,...,...,...,...,...
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0,many keywords racket programming language late...,many keywords perl programming language latest...,7,7
404286,Do you believe there is life after death?,Is it true that there is life after death?,1,believe life death \?,true life death \?,3,3
404287,What is one coin?,What's this coin?,0,one coin \?,'s coin \?,2,2
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0,approx annual cost living studying uic chicago...,little hairfall problem want use hair styling ...,9,13
404289,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0,like sex cousin \?,like sex cousin \?,3,3

In [63]:
short_q1 = df.loc[df['tokenized_sents1']<4]
short_q2 = df.loc[df['tokenized_sents2']<4]
short_sents = short_q1.index.tolist() +short_q2.index.tolist()
len(short_sents)

199229

In [64]:
df_long = df.drop(short_sents)

In [65]:
df_long

,question1,question2,is_duplicate,question1_clean,question2_clean,tokenized_sents1,tokenized_sents2
id,,,,,,,
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,step step guide invest share market india \?,step step guide invest share market \?,7,6
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,story kohinoor \( koh noor \) diamond \?,would happen indian government stole kohinoor ...,5,10
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,increase speed internet connection using vpn \?,internet speed increased hacking dns \?,6,5
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,"one dissolve water quikly sugar , salt , metha...",fish would survive salt water \?,10,5
5,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1,astrology capricorn sun cap moon cap rising sa...,"i'm triple capricorn \( sun , moon ascendant c...",8,9
...,...,...,...,...,...,...,...
404281,Why is Manaphy childish in PokÃ©mon Ranger and ...,Why is Manaphy annoying in Pokemon ranger and ...,1,manaphy childish pok mon ranger temple sea \?,manaphy annoying pokemon ranger temple sea \?,7,6
404282,How does a long distance relationship work?,How are long distance relationships maintained?,1,long distance relationship work \?,long distance relationships maintained \?,4,4
404283,What do you think of the removal of the MagSaf...,What will the CPU upgrade to the 2016 Apple Ma...,0,think removal magsafe connector apple 's 2016 ...,cpu upgrade 2016 apple macbook pro mean \?,9,7
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0,many keywords racket programming language late...,many keywords perl programming language latest...,7,7
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0,approx annual cost living studying uic chicago...,little hairfall problem want use hair styling ...,9,13

3. Remove entries that are not common in train test split and df and store train_test split file

Now need to match with the quora train test split to remove the rows from there as well

In [66]:
def open_in_pd(path, file_name):
    df =  pd.read_csv(path+file_name+'.tsv', sep='\t', header=None)
    df.columns = ['label','question1','question2','index']
    return df

In [67]:
train = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'train')
test = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'test')
dev = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'dev')

In [68]:
len(train)

384348

In [69]:
len(dev)

10000

In [70]:
len(test)

10000

In [71]:
train = pd.concat([train, dev])

In [72]:
train_ind = train['index'].tolist()
len(train_ind)

394348

In [73]:
train.sort_values(by=['index'])

,label,question1,question2,index
255608,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
233001,0,What is the story of Kohinoor -LRB- Koh-i-Noor...,What would happen if the Indian government sto...,1
194764,0,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,2
195499,0,Why am I mentally very lonely ? How can I solv...,Find the remainder when -LSB- math -RSB- 23 ^ ...,3
216934,0,"Which one dissolve in water quikly sugar , sal...",Which fish would survive in salt water ?,4
...,...,...,...,...
12343,0,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,404346
151400,1,Do you believe there is life after death ?,Is it true that there is life after death ?,404347
352700,0,What is one coin ?,What 's this coin ?,404348
32895,0,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,404349
53061,0,What is like to have sex with cousin ?,What is it like to have sex with your cousin ?,404350

In [74]:
test_ind = test['index'].tolist()
len(test_ind)

10000

In [75]:
test_train_ind = train_ind+test_ind
len(test_train_ind)

404348

In [76]:
df_match = df_long[df_long.index.isin(test_train_ind)]
df_match

,question1,question2,is_duplicate,question1_clean,question2_clean,tokenized_sents1,tokenized_sents2
id,,,,,,,
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,step step guide invest share market india \?,step step guide invest share market \?,7,6
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,story kohinoor \( koh noor \) diamond \?,would happen indian government stole kohinoor ...,5,10
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,increase speed internet connection using vpn \?,internet speed increased hacking dns \?,6,5
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,"one dissolve water quikly sugar , salt , metha...",fish would survive salt water \?,10,5
5,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1,astrology capricorn sun cap moon cap rising sa...,"i'm triple capricorn \( sun , moon ascendant c...",8,9
...,...,...,...,...,...,...,...
404281,Why is Manaphy childish in PokÃ©mon Ranger and ...,Why is Manaphy annoying in Pokemon ranger and ...,1,manaphy childish pok mon ranger temple sea \?,manaphy annoying pokemon ranger temple sea \?,7,6
404282,How does a long distance relationship work?,How are long distance relationships maintained?,1,long distance relationship work \?,long distance relationships maintained \?,4,4
404283,What do you think of the removal of the MagSaf...,What will the CPU upgrade to the 2016 Apple Ma...,0,think removal magsafe connector apple 's 2016 ...,cpu upgrade 2016 apple macbook pro mean \?,9,7
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0,many keywords racket programming language late...,many keywords perl programming language latest...,7,7
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0,approx annual cost living studying uic chicago...,little hairfall problem want use hair styling ...,9,13

In [77]:
df_long.index

Int64Index([     0,      1,      2,      4,      5,      9,     10,     12,
                14,     15,
            ...
            404274, 404275, 404278, 404279, 404280, 404281, 404282, 404283,
            404285, 404288],
           dtype='int64', name='id', length=265564)

In [78]:
df_train = df_long[df_long.index.isin(train_ind)]
df_train_ind = df_train[['is_duplicate']]
df_train_ind['train_test'] = 'train'
df_train_ind.columns = ['label', 'train_test']
df_train_ind['index'] = df_train_ind.index
df_train_ind = df_train_ind[['index','label', 'train_test']]
df_train_ind

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

         index  label train_test
id
0            0      0      train
1            1      0      train
2            2      0      train
4            4      0      train
5            5      1      train
...        ...    ...        ...
404281  404281      1      train
404282  404282      1      train
404283  404283      0      train
404285  404285      0      train
404288  404288      0      train

[259000 rows x 3 columns]

In [79]:
df_train_ind[df_train_ind['train_test']=='train']['label'].value_counts()

0    170678
1     88322
Name: label, dtype: int64

In [80]:
majority = df_train_ind.loc[df_train_ind['label']==0].count()[0]
minority = df_train_ind.loc[df_train_ind['label']==1].count()[0]

In [81]:
np.random.seed(11)
remove_n = majority - minority
drop_indices = np.random.choice(df_train_ind[df_train_ind['label']==0].index, remove_n, replace=False)
df_train_ind_balanced = df_train_ind.drop(drop_indices)
df_train_ind_balanced['label'].value_counts()

1    88322
0    88322
Name: label, dtype: int64

In [82]:
df_test = df_long[df_long.index.isin(test_ind)]
df_test_ind = df_test[['is_duplicate']]
df_test_ind['train_test'] = 'test'
df_test_ind.columns = ['label', 'train_test']
df_test_ind['index'] = df_test_ind.index
df_test_ind = df_test_ind[['index','label', 'train_test']]
df_test_ind

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

         index  label train_test
id
173        173      1       test
193        193      1       test
218        218      0       test
241        241      0       test
258        258      0       test
...        ...    ...        ...
404062  404062      0       test
404145  404145      1       test
404156  404156      0       test
404200  404200      1       test
404251  404251      0       test

[6562 rows x 3 columns]

In [83]:
quora_train_test_split = pd.concat([df_train_ind_balanced,df_test_ind])
quora_train_test_split_sorted = quora_train_test_split.sort_values(['index'])
quora_train_test_split_sorted

         index  label train_test
id
0            0      0      train
1            1      0      train
2            2      0      train
4            4      0      train
5            5      1      train
...        ...    ...        ...
404275  404275      0      train
404280  404280      1      train
404281  404281      1      train
404282  404282      1      train
404285  404285      0      train

[183206 rows x 3 columns]

In [84]:
quora_train_test_split_sorted['train_test'].value_counts()

train    176644
test       6562
Name: train_test, dtype: int64

In [88]:
quora_train_test_split_sorted

         index  label train_test
id
0            0      0      train
1            1      0      train
2            2      0      train
4            4      0      train
5            5      1      train
...        ...    ...        ...
404275  404275      0      train
404280  404280      1      train
404281  404281      1      train
404282  404282      1      train
404285  404285      0      train

[183206 rows x 3 columns]

In [85]:
np.random.seed(11)
remove_n = 126644
drop_indices1 = np.random.choice(quora_train_test_split_sorted[quora_train_test_split_sorted['train_test']=='train'].index, remove_n, replace=False)
quora_train_test_split_subset = quora_train_test_split_sorted.drop(drop_indices1)

In [86]:
quora_train_test_split_subset[quora_train_test_split_subset['train_test']=='train']['label'].value_counts()

1    25002
0    24998
Name: label, dtype: int64

Need to also remove the droped indices from the cleaned questions

In [90]:
df_long_final  = df_long.drop(drop_indices1)

In [91]:
df_long_final

,question1,question2,is_duplicate,question1_clean,question2_clean,tokenized_sents1,tokenized_sents2
id,,,,,,,
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,step step guide invest share market india \?,step step guide invest share market \?,7,6
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,story kohinoor \( koh noor \) diamond \?,would happen indian government stole kohinoor ...,5,10
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,"one dissolve water quikly sugar , salt , metha...",fish would survive salt water \?,10,5
9,Motorola (company): Can I hack my Charter Moto...,How do I hack Motorola DCX3400 for free internet?,0,motorola \( company \) hack charter motorolla ...,hack motorola dcx3400 free internet \?,6,5
10,Method to find separation of slits using fresn...,What are some of the things technicians can te...,0,method find separation slits using fresnel bip...,things technicians tell durability reliability...,7,7
...,...,...,...,...,...,...,...
404274,Will the next generation of parenting change o...,What kind of parents will the next generation ...,1,next generation parenting change stay \?,kind parents next generation \?,5,4
404278,How did you prepare for AIIMS/NEET/AIPMT?,How did you prepare for the AIIMS UG entrance ...,0,prepare aiims neet aipmt \?,prepare aiims ug entrance exams \?,4,5
404279,What is the minimum time required to build a f...,What is a cheaper and quicker way to build an ...,0,minimum time required build flyover 1km \?,cheaper quicker way build underpass flyover \?,6,6
404283,What do you think of the removal of the MagSaf...,What will the CPU upgrade to the 2016 Apple Ma...,0,think removal magsafe connector apple 's 2016 ...,cpu upgrade 2016 apple macbook pro mean \?,9,7
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0,approx annual cost living studying uic chicago...,little hairfall problem want use hair styling ...,9,13

In [92]:
question1 = df_long_final['question1_clean']
question1_final_bal_sub = question1.str.replace('\\n', ' ', regex= True)

In [93]:
question2 = df_long_final['question2_clean']
question2_final_bal_sub = question2.str.replace('\\n', ' ', regex= True)

In [94]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1_sub_bal.clean.txt', question1_final_bal_sub.values, fmt = '%s', encoding = 'utf-8', delimiter ='\n')
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2_sub_bal.clean.txt', question2_final_bal_sub.values, fmt = '%s', encoding = 'utf-8', delimiter ='\n')

In [95]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\quora_split_balanced_subset.txt', quora_train_test_split_subset.values, fmt='%s', delimiter='\t')