1. Open the dataset

In [108]:
import pandas as pd
import re
import numpy as np

In [109]:
df = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\quora_duplicate_questions.tsv', sep='\t', index_col =0, header=0)

In [110]:
df

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...
404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,537928,537929,What is one coin?,What's this coin?,0
404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

2. Remove the indices which end up empty after the preprocessing already here

In [111]:
q1_empty_ind = [3306, 39405, 108978, 109311, 115347, 151922, 158778, 189396, 190570, 199110, 290090, 301583, 325530, 326297, 328601, 329933, 381124]
q2_empty_ind = [20072, 144343, 181695, 198913, 384293, 400153]
remove_ind = q1_empty_ind +q2_empty_ind
len(remove_ind)

23

In [112]:
df = df.drop(remove_ind, axis =0)

In [113]:
df

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...
404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,537928,537929,What is one coin?,What's this coin?,0
404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [114]:
question1 = df['question1']
question1 = question1.str.replace('\\n', ' ', regex= True)

In [115]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1.txt', question1.values, fmt='%s', encoding = 'utf-8', delimiter ='\n')

In [116]:
question2 = df['question2']
question2 = question2.str.replace('\\n', ' ', regex= True)

In [117]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2.txt', question2.values, fmt = '%s', encoding = 'utf-8', delimiter ='\n')

Extracted and saved question 1 and question 2 of the dataframe. Will now replace in the dataframe the original with the cleaned one

In [118]:
question1_clean = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1.clean.txt', sep="\n", names=['Clean'])
question2_clean = pd.read_csv('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2.clean.txt', sep="\n", names=['Clean'])

We are getting some NaN cells which we remove from both questions

In [119]:
df['question1_clean'] = question1_clean.values
df['question2_clean'] = question2_clean.values

In [120]:
null_ind = df.isnull()

In [121]:
null_val1 = null_ind[null_ind['question1_clean']==True]

In [122]:
null_val2 = null_ind[null_ind['question2_clean']==True]

In [123]:
null_val = pd.concat([null_val1, null_val2])

In [124]:
null_val

,qid1,qid2,question1,question2,is_duplicate,question1_clean,question2_clean
id,,,,,,,
363362,False,False,True,False,False,True,False
105780,False,False,False,True,False,False,True
141281,False,False,False,False,False,False,True
201841,False,False,False,True,False,False,True
205947,False,False,False,False,False,False,True

In [125]:
df = df.drop(null_val.index)

In [127]:
df = df.drop(columns = ['qid1', 'qid2'])

In [130]:
def additional_cleaning(text):
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    return text

In [133]:
df['question1_clean_clean']= df.apply(lambda row: additional_cleaning(row['question1_clean']), axis=1)
df['question2_clean_clean']= df.apply(lambda row: additional_cleaning(row['question2_clean']), axis=1)

In [135]:
df['tokenized_sents1'] = df.apply(lambda row: len(re.findall(r'\w+', row['question1_clean_clean'])), axis=1)
df['tokenized_sents2'] = df.apply(lambda row: len(re.findall(r'\w+', row['question2_clean_clean'])), axis=1)

In [136]:
df

,question1,question2,is_duplicate,question1_clean,question2_clean,tokenized_sents1,tokenized_sents2,question1_clean_clean,question2_clean_clean
id,,,,,,,,,
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14,12,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,what is the story of kohinoor \( koh i noor \)...,what would happen if the indian government sto...,10,15,what is the story of kohinoor koh i noor diamond,what would happen if the indian government sto...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,14,10,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,why am i mentally very lonely \? how can i sol...,find the remainder when math 23 24 math is div...,11,13,why am i mentally very lonely how can i solve it,find the remainder when math 23 24 math is div...
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,"which one dissolve in water quikly sugar , sal...",which fish would survive in salt water \?,13,7,which one dissolve in water quikly sugar salt ...,which fish would survive in salt water
...,...,...,...,...,...,...,...,...,...
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0,how many keywords are there in the racket prog...,how many keywords are there in perl programmin...,14,13,how many keywords are there in the racket prog...,how many keywords are there in perl programmin...
404286,Do you believe there is life after death?,Is it true that there is life after death?,1,do you believe there is life after death \?,is it true that there is life after death \?,8,9,do you believe there is life after death,is it true that there is life after death
404287,What is one coin?,What's this coin?,0,what is one coin \?,what 's this coin \?,4,3,what is one coin,what this coin
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0,what is the approx annual cost of living while...,i am having little hairfall problem but i want...,17,25,what is the approx annual cost of living while...,i am having little hairfall problem but i want...
404289,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0,what is like to have sex with cousin \?,what is it like to have sex with your cousin \?,8,10,what is like to have sex with cousin,what is it like to have sex with your cousin

### IGNORE THIS FOR NOW AND USE MAX SENTENCE LENGTH OF 30 ONLY ON THE TRAINING SET!

### 3. Remove entries that are not common in train test split and df and store train_test split file

Now need to match with the quora train test split to remove the rows from there as well

In [137]:
def open_in_pd(path, file_name):
    df =  pd.read_csv(path+file_name+'.tsv', sep='\t', header=None)
    df.columns = ['label','question1','question2','index']
    return df

In [138]:
train = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'train')
test = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'test')
dev = open_in_pd('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\Quora_question_pair_partition\\', 'dev')

In [139]:
len(train)

384348

In [140]:
len(dev)

10000

In [141]:
len(test)

10000

In [142]:
train = pd.concat([train, dev])

In [143]:
train_ind = train['index'].tolist()
len(train_ind)

394348

In [144]:
train.sort_values(by=['index'])

,label,question1,question2,index
255608,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
233001,0,What is the story of Kohinoor -LRB- Koh-i-Noor...,What would happen if the Indian government sto...,1
194764,0,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,2
195499,0,Why am I mentally very lonely ? How can I solv...,Find the remainder when -LSB- math -RSB- 23 ^ ...,3
216934,0,"Which one dissolve in water quikly sugar , sal...",Which fish would survive in salt water ?,4
...,...,...,...,...
12343,0,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,404346
151400,1,Do you believe there is life after death ?,Is it true that there is life after death ?,404347
352700,0,What is one coin ?,What 's this coin ?,404348
32895,0,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,404349
53061,0,What is like to have sex with cousin ?,What is it like to have sex with your cousin ?,404350

In [145]:
test_ind = test['index'].tolist()
len(test_ind)

10000

In [146]:
test_train_ind = train_ind+test_ind
len(test_train_ind)

404348

In [149]:
df_match = df[df.index.isin(test_train_ind)]
df_match

,question1,question2,is_duplicate,question1_clean,question2_clean,tokenized_sents1,tokenized_sents2,question1_clean_clean,question2_clean_clean
id,,,,,,,,,
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14,12,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,what is the story of kohinoor \( koh i noor \)...,what would happen if the indian government sto...,10,15,what is the story of kohinoor koh i noor diamond,what would happen if the indian government sto...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,14,10,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,why am i mentally very lonely \? how can i sol...,find the remainder when math 23 24 math is div...,11,13,why am i mentally very lonely how can i solve it,find the remainder when math 23 24 math is div...
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,"which one dissolve in water quikly sugar , sal...",which fish would survive in salt water \?,13,7,which one dissolve in water quikly sugar salt ...,which fish would survive in salt water
...,...,...,...,...,...,...,...,...,...
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0,how many keywords are there in the racket prog...,how many keywords are there in perl programmin...,14,13,how many keywords are there in the racket prog...,how many keywords are there in perl programmin...
404286,Do you believe there is life after death?,Is it true that there is life after death?,1,do you believe there is life after death \?,is it true that there is life after death \?,8,9,do you believe there is life after death,is it true that there is life after death
404287,What is one coin?,What's this coin?,0,what is one coin \?,what 's this coin \?,4,3,what is one coin,what this coin
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0,what is the approx annual cost of living while...,i am having little hairfall problem but i want...,17,25,what is the approx annual cost of living while...,i am having little hairfall problem but i want...
404289,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0,what is like to have sex with cousin \?,what is it like to have sex with your cousin \?,8,10,what is like to have sex with cousin,what is it like to have sex with your cousin

In [157]:
df_train = df[df.index.isin(train_ind)]

In [159]:
short_q1 = df_train.loc[df['tokenized_sents1']>30]
short_q2 = df_train.loc[df['tokenized_sents2']>30]
short_sents = short_q1.index.tolist() +short_q2.index.tolist()
len(short_sents)

9181

In [160]:
df_train = df_train.drop(short_sents)

In [162]:
df_train_ind = df_train[['is_duplicate']]
df_train_ind['train_test'] = 'train'
df_train_ind.columns = ['label', 'train_test']
df_train_ind['index'] = df_train_ind.index
df_train_ind = df_train_ind[['index','label', 'train_test']]
df_train_ind

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

         index  label train_test
id
0            0      0      train
1            1      0      train
2            2      0      train
3            3      0      train
4            4      0      train
...        ...    ...        ...
404284  404284      1      train
404285  404285      0      train
404287  404287      0      train
404288  404288      0      train
404289  404289      0      train

[385696 rows x 3 columns]

In [163]:
df_train_ind[df_train_ind['train_test']=='train']['label'].value_counts()

0    240688
1    145008
Name: label, dtype: int64

In [164]:
majority = df_train_ind.loc[df_train_ind['label']==0].count()[0]
minority = df_train_ind.loc[df_train_ind['label']==1].count()[0]

In [165]:
np.random.seed(11)
remove_n = majority - minority
drop_indices = np.random.choice(df_train_ind[df_train_ind['label']==0].index, remove_n, replace=False)
df_train_ind_balanced = df_train_ind.drop(drop_indices)
df_train_ind_balanced['label'].value_counts()

1    145008
0    145008
Name: label, dtype: int64

In [166]:
df_test = df[df.index.isin(test_ind)]
df_test_ind = df_test[['is_duplicate']]
df_test_ind['train_test'] = 'test'
df_test_ind.columns = ['label', 'train_test']
df_test_ind['index'] = df_test_ind.index
df_test_ind = df_test_ind[['index','label', 'train_test']]
df_test_ind

C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\danie\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

         index  label train_test
id
52          52      0       test
57          57      0       test
113        113      1       test
130        130      0       test
173        173      1       test
...        ...    ...        ...
404156  404156      0       test
404200  404200      1       test
404251  404251      0       test
404277  404277      0       test
404286  404286      1       test

[9999 rows x 3 columns]

In [167]:
quora_train_test_split = pd.concat([df_train_ind_balanced,df_test_ind])
quora_train_test_split_sorted = quora_train_test_split.sort_values(['index'])
quora_train_test_split_sorted

         index  label train_test
id
0            0      0      train
1            1      0      train
2            2      0      train
3            3      0      train
5            5      1      train
...        ...    ...        ...
404282  404282      1      train
404284  404284      1      train
404285  404285      0      train
404286  404286      1       test
404288  404288      0      train

[300015 rows x 3 columns]

In [168]:
quora_train_test_split_sorted['train_test'].value_counts()

train    290016
test       9999
Name: train_test, dtype: int64

In [169]:
quora_train_test_split_sorted[quora_train_test_split_sorted['train_test']=='train']['label'].value_counts()

1    145008
0    145008
Name: label, dtype: int64

In [170]:
np.random.seed(11)
remove_n = 190000
drop_indices1 = np.random.choice(quora_train_test_split_sorted[quora_train_test_split_sorted['train_test']=='train'].index, remove_n, replace=False)
quora_train_test_split_subset = quora_train_test_split_sorted.drop(drop_indices1)

In [171]:
quora_train_test_split_subset[quora_train_test_split_subset['train_test']=='train']['label'].value_counts()

1    50130
0    49886
Name: label, dtype: int64

Need to also remove the droped indices from the cleaned questions

In [173]:
df_final = df[df.index.isin(quora_train_test_split_subset.index)]

In [174]:
df_final

,question1,question2,is_duplicate,question1_clean,question2_clean,tokenized_sents1,tokenized_sents2,question1_clean_clean,question2_clean_clean
id,,,,,,,,,
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,14,12,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,what is the story of kohinoor \( koh i noor \)...,what would happen if the indian government sto...,10,15,what is the story of kohinoor koh i noor diamond,what would happen if the indian government sto...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,14,10,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,why am i mentally very lonely \? how can i sol...,find the remainder when math 23 24 math is div...,11,13,why am i mentally very lonely how can i solve it,find the remainder when math 23 24 math is div...
6,Should I buy tiago?,What keeps childern active and far from phone ...,0,should i buy tiago \?,what keeps childern active and far from phone ...,4,11,should i buy tiago,what keeps childern active and far from phone ...
...,...,...,...,...,...,...,...,...,...
404273,What happens if you put milk in a coffee maker?,What would happen if I put milk instead of wat...,1,what happens if you put milk in a coffee maker \?,what would happen if i put milk instead of wat...,10,16,what happens if you put milk in a coffee maker,what would happen if i put milk instead of wat...
404277,What does analytics do?,What are analytical people like?,0,what does analytics do \?,what are analytical people like \?,4,5,what does analytics do,what are analytical people like
404278,How did you prepare for AIIMS/NEET/AIPMT?,How did you prepare for the AIIMS UG entrance ...,0,how did you prepare for aiims neet aipmt \?,how did you prepare for the aiims ug entrance ...,8,10,how did you prepare for aiims neet aipmt,how did you prepare for the aiims ug entrance ...
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0,how many keywords are there in the racket prog...,how many keywords are there in perl programmin...,14,13,how many keywords are there in the racket prog...,how many keywords are there in perl programmin...
404286,Do you believe there is life after death?,Is it true that there is life after death?,1,do you believe there is life after death \?,is it true that there is life after death \?,8,9,do you believe there is life after death,is it true that there is life after death

In [175]:
question1 = df_final['question1_clean_clean']
question1_final_bal_sub = question1.str.replace('\\n', ' ', regex= True)

In [176]:
question2 = df_final['question2_clean_clean']
question2_final_bal_sub = question2.str.replace('\\n', ' ', regex= True)

In [177]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question1_sub_bal.clean.txt', question1_final_bal_sub.values, fmt = '%s', encoding = 'utf-8', delimiter ='\n')
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\corpus\\question2_sub_bal.clean.txt', question2_final_bal_sub.values, fmt = '%s', encoding = 'utf-8', delimiter ='\n')

In [178]:
np.savetxt('C:\\Users\\danie\\PycharmProjects\\NLP_project\\data\\quora_split_balanced_subset.txt', quora_train_test_split_subset.values, fmt='%s', delimiter='\t')